<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tis.mybatis.member">
	<select id="getAllMemberList" resultType="MemberDto"
		parameterType="HashMap">
		SELECT * FROM MEMBER
		<!-- 쿼리문 고민해보기 -->
		<choose>
			<when
				test="searchPosition == null and searchSubject == null and (searchName == null or searchName == '')">
			</when>
			<otherwise>
				WHERE
				<choose>
					<when test="searchPosition != null and searchPosition != ''">
						CODE LIKE #{searchPosition} || '%'
						<choose>
							<when test="searchSubject != null and searchSubject != ''">
								AND SUBJECT = #{searchSubject}
								<if test="searchName != null and searchName != ''"> AND NAME LIKE '%' || #{searchName} || '%' </if>
							</when>
							<otherwise>
								<if test="searchName != null and searchName != ''"> AND
									NAME LIKE '%' || #{searchName} || '%' </if>
							</otherwise>
						</choose>
					</when>
					<otherwise>
						<choose>
							<when test="searchSubject != null and searchSubject != ''">
								SUBJECT = #{searchSubject}
								<if test="searchName != null and searchName != ''">
									AND NAME LIKE '%' || #{searchName} || '%'
								</if>
							</when>
							<otherwise>
								<if test="searchName != null and searchName != ''"> NAME
									LIKE '%' || #{searchName} || '%' </if>
							</otherwise>
						</choose>
					</otherwise>
				</choose>
			</otherwise>
		</choose>
		ORDER BY NO ASC
	</select>
</mapper>