<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tis.mybatis.member">
	<select id="getAllMemberList" resultType="MemberDto"
		parameterType="HashMap">
		SELECT NO, NAME, ID, SUBJECT, TELL, EMAIL, REGDATE FROM MEMBER
		WHERE NO IS NOT NULL
		<if
			test="search_position!=null and search_position!=''">
			AND CODE LIKE '#{searchPosition}%'
		</if>
		<if
			test="search_subject!=null and search_subject!=''">
			AND SUBJECT = '#{searchSubject}'
		</if>
		<if
			test="search_name!=null and search_name!=''">
			AND NAME LIKE '%#{searchName}%'
		</if>
		ORDER BY NO DESC
	</select>
	<select id="getSelectOne" resultType="MemberDto"
		parameterType="String">
		SELECT * FROM MEMBER WHERE CODE = #{code}
	</select>
	<delete id="deleteMember" parameterType="MemberDto">
		DELETE FROM MEMBER WHERE
		CODE = #{code} AND NAME = #{name}
	</delete>

	<insert id="insertMember" parameterType="MemberDto">
		INSERT INTO MEMBER
		VALUES (SEQ_MEMBER.NEXTVAL,
		#{id},
		#{password},
		#{name},
		#{code},
		#{subject},
		#{tell},
		#{email},
		#{regDate}
		)
	</insert>
	<update id="updateMember" parameterType="MemberDto">
		UPDATE MEMBER SET
		NAME =
		#{name},
		SUBJECT = #{subject},
		TELL = #{tell},
		EMAIL = #{email},
		REGDATE =
		#{regDate}
		WHERE CODE = #{code}
	</update>
	<select id="getTotal" resultType="Integer"
		parameterType="HashMap">
		SELECT COUNT(*) AS TOTAL FROM MEMBER
		<if test="searchWord!=null and searchWord!=''">
			WHERE
			${searchSelect} LIKE '%'||#{searchWord}||'%'
		</if>
	</select>
</mapper>